/EjerciciosClase3/Ejercicios/nbproject/private/
/EjerciciosClase3/EjercciosTarea/nbproject/private/
/EjerciciosClase3/Ejercicio1/nbproject/private/
/EjerciciosClase3/Ejercicio1/build/
/EjerciciosClase3/ExamenPrimerParcial/nbproject/private/
/EjerciciosClase3/Clase 6/nbproject/private/
/EjerciciosClase3/Clase 6/build/
/EjerciciosClase3/Ejemploocho/nbproject/private/
/EjerciciosClase3/Ejemploocho/build/
/EjerciciosClase3/eje/nbproject/private/
/EjerciciosClase3/eje/build/